<div class="blog-index">
    <div class="">
        <img width="180" height="180" src="http://tp4.sinaimg.cn/1631244195/180/40062704724/1" alt="陌羽蕲moyuqi"
             class="am-img-circle am-center">
    </div>
    <div>
        <h1>@陌羽蕲moyuqi</h1>

        <div>爱编程，爱P图，爱特摄。</div>
        <div>关注前端开发与交互，知识管理，时间管理，思维导图。</div>
        <div>喜欢JavaScript,jQuery,也爱ExtJs,Bootstrap。</div>
        <div>我，只是一名路过的前端攻城狮。</div>
    </div>
    <hr>
    <div class="am-fr">
        <h1>出没地</h1>
        <div style="margin-bottom: 0.2em;">
            <a target="_blank" href="http://weibo.com/123891227" class="am-icon-btn am-icon-weibo"></a>
            <!--   <a href="" class="am-icon-btn am-icon-twitter"></a>
               <a href="" class="am-icon-btn am-icon-facebook"></a>-->
            <a target="_blank" href="https://github.com/moyuqi" class="am-icon-btn am-icon-github"></a>
            <!--   <a href="" class="am-icon-btn am-icon-linkedin"></a>-->
        </div>
        <div>Blog：<a target="_blank" href="http://www.zhenghongen.cn"></a><a href="http://www.zhenghongen.cn">http://www.zhenghongen.cn</a>
            <br></div>
        <div>ZhiHu: <a target="_blank" href="http://www.zhihu.com/people/moyuqi"></a><a
                href="http://www.zhihu.com/people/moyuqi">http://www.zhihu.com/people/moyuqi</a> <br></div>
        <div>DouBan: <a target="_blank" href="http://www.douban.com/people/zhenghe1227/"></a><a
                href="http://www.douban.com/people/zhenghe1227/">http://www.douban.com/people/zhenghe1227/</a> <br>
        </div>
        <div>OsChina: <a target="_blank" href="http://my.oschina.net/moyuqi"></a><a
                href="http://my.oschina.net/moyuqi">http://my.oschina.net/moyuqi</a> <br></div>
    </div>
</div>