<div class="am-article-hd">
    <h3 class="am-article-title blog-title">
        <span class="an-fl blog-title-fl">
            <ol class="am-breadcrumb">
                <li><a href="index.html" class="am-icon-home">首页</a></li>
                <li class="am-active"><a href="tags.html">标签</a></li>
            </ol>
        </span>
        <span class="am-fr am-kai blog-title-fr"></span>
    </h3>
</div>
<div class="blog-tags">
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签一
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
        <a class="am-btn am-btn-primary" href="tag.html">
            标签三
            <span class="am-badge">1</span>
        </a>
    </div>